@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.content{
  position: relative;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textBox h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span{
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p{
  color: #333;
}
.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
  margin-top: 50px;
}
.content .imgBox img{
  max-width: 600px;
}



@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 var(--cor-neon));
  }
  to {
    filter: drop-shadow(0 0 8px var(--cor-neon));
  }
}

img:hover {
  animation: neon 0.3s forwards;
}

.starbucks {
  --cor-neon: #8DC1E4;
}