
/* Cor de fundo */

body{
    background: #181A1B;
}

/* Barra de scroll do site */

body::-webkit-scrollbar {
    width: 8px;
    background: #181A1B;
}
  
body::-webkit-scrollbar-thumb {
    background: #454A4D;
}

/* Background fixo */

.parallax{ 
    top: 0;
    object-fit: cover;
    position: fixed;
    z-index: 1;
  }

/* Funcionalidades */

.luzes{
    position: relative;
    display: flex;
}

.luzes span{
    position: relative;
    margin: 0 4px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: anima 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    background: #FF79BD;
    box-shadow: 0 0 0 10px #FF79BD44, 0 0 50px #FF79BD, 0 0 100px #FF79BD;
}

.luzes span:nth-child(even){
    background: #9932F5;
    box-shadow: 0 0 0 10px #9932F544, 0 0 50px #9932F5, 0 0 100px #9932F5;
}

/* Animação */

@keyframes anima{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}