
/* Cor de fundo */

body{
    background: #2E2E60;
}

/* Background fixo */

.parallax{ 
    top: 0;
    object-fit: cover;
    position: fixed;
    z-index: 1;
  }

/* Funcionalidades */

.luzes{
    position: relative;
    display: flex;
}

.luzes span{
    position: relative;
    margin: 0 4px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: anima 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    background: #8DC1E4;
    box-shadow: 0 0 0 10px #8DC1E444, 0 0 50px #8DC1E4, 0 0 100px #8DC1E4;
}

.luzes span:nth-child(even){
    background: #E0B720;
    box-shadow: 0 0 0 10px #E0B72044, 0 0 50px #E0B720, 0 0 100px #E0B720;
}

/* Animação */

@keyframes anima{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
  
/* Paleta de cores */

.paleta{
    color: #2E2E60;
    color: #222455;
    color: #E0B720;
    color: #8DC1E4;
    color: #25D85C;
    color: #F29247;
    color: #9932F5;
    color: #F4A2BE;
    color: #E83C6D;
    color: #5D5D64;
    color: #fff;
}