
/* Importação de letras Google  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Área do formulário */

container{
  position: relative;
  top: 65px;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.5;
}

container .container{
  position: relative;
  width: 800px;
  height: 500px;
  background: #222455;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 1px 3px #000;
  z-index: 10;
}

/* Itens dentro do formulário */

container .container .user{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

container .container .user .imgBx{
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5;
}

container .container .user .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cores dos itens - escritas */

container .container .user .formBx{
  position: relative;
  width: 50%;
  height: 100%;
  background: #222455;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s; 
}

container .container .user .formBx input{
  width: 100%;
  padding: 10px;
  background: #222455;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
}

input::placeholder{
  color: #fff;
}

/* Cores dos itens - registrar título */

container .container .user .formBx h2{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #25D85C;
}

/* Cores dos itens - cadastrar título */

container .container .user.cad .formBx h2{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #F29247;
}

/* Cores dos itens - registrar botão */

container .container .user .formBx input[type="button"]{
  max-width: 100px;
  background: #25D85C;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  border-radius: 10px;
}

/* Animação - registrar botão */

container .container .user .formBx input[type="button"]{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

container .container .user .formBx input:hover[type="button"]{
  box-shadow: 0 0 8px #25D85C;
}

/* Animação - cadastrar botão */

container .container .user.cad .formBx input[type="button"]
{
  background: #F29247;
}

container .container .user.cad .formBx input[type="button"]{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

container .container .user.cad .formBx input:hover[type="button"]{
  box-shadow: 0 0 8px #F29247;
}

/* Cores dos itens - textinho */

container .container .user .formBx .signup{
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #5D5D64;
  text-transform: uppercase;
  font-weight: 300;
}

/* Cores dos itens - botão de texto */

container .container .user .formBx .signup a{
  font-weight: 600;
  text-decoration: none;
  color: #25D85C;
}

container .container .user.cad .formBx .signup a{
  font-weight: 600;
  text-decoration: none;
  color: #F29247;
}

/* Itens dentro do formulário - códigos adicionais */

container .container .cad{
  pointer-events: none;
}

container .container.active .cad{
  pointer-events: initial;
}

container .container .cad .formBx{
  top: 100%;
}

container .container.active .cad .formBx{
  top: 0;
}

container .container .cad .imgBx{
  top: -100%;
  transition: 0.5s;
}

container .container.active .cad .imgBx{
  top: 0;
}

container .container .reg .formBx{
  top: 0;
  transition: 0.5;
}

container .container.active .reg .formBx{
  top: 100%;
}

container .container .reg .imgBx{
  top: 0;
}

container .container.active .reg .imgBx{
  top: -100%;
}

/* NÃO SEI OQUE FAZ */

@media (max-width: 991px){
  container .container{
    max-width: 400px;
  }
  container .container .imgBx{
    display: none;
  }
  container .container .user .formBx{
    width: 100%;
  }
  container .container.active .reg .formBx{
    top: -100%;
  }
}