@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: rgb(13, 13, 24);
}
h1{
  font-size: 45px;
  margin-top: 90px;
  color: #fff;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  height: 450px;
  width: 290px;
  margin: 20px;
  box-shadow: 0 3px 5px #000;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  z-index: 8;
}

.card .bg-image img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}
.card .pic img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 10px solid #fff;
  margin-top: -90px;
  position: relative;
}
.card .info h3{
  color: rgb(13, 13, 24);
  font-size: 20px;
  padding: 10px 0;
}
.card .info span{
  font-size: 15px;
  color: rgb(64,156,255);
}
.card .info p{
  font-size: 13px;
  padding: 10px 20px;
  color: #555;
}
.card .info .icons a{
  font-size: 20px;
  text-decoration: none;
  color: rgb(13, 13, 24);
  margin-top: 20px;
  padding: 0 5px;
}
.card .info .icons a:hover{
  color: rgb(64,156,255);
}