/* BACKGROUND VÍDEO COM PARALLAX */

.ParallaxVideo video{ 
  top: 0;
  object-fit: cover;
  position: fixed;
  z-index: -100;
  width: 100vw;
  height: 100vh;
}

/* ESCRITAS - H3, H2, a */

h3 {
  font-size: 50px;
  text-align: center;
  color: rgb(255,197,143);
  transition: 0.3s; 
}

h3:hover {
  opacity: 0.7;
}

h2 {
  text-align: center;
  color: rgb(255,197,143);
  transition: 0.3s;
}

h2:hover {
  opacity: 0.7;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica; 
}

/* CABEÇALHO */

.header{
  background-color: rgb(13, 13, 24);
}

.iLume {
  font-size: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 100px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

nav {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: rgb(13, 13, 24);
}

img {
  position: absolute;
  left: 50px;
  width:100px;
  height:100px;
}

/* ÂNCORAS */

#anchor {
  margin-top: 30px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

#anchor1{
  position: fixed;
  top: 100px;
  right: 15px;	
  max-height: 0px;								  						
}

#anchor2{
  position: fixed;
  top: 150px;
  right: 15px;	
  max-height: 0px;								  
}

#anchor3{
  position: fixed;
  top: 200px;
  right: 15px;
  max-height: 0px;
}

#anchor4{
  position: fixed;
  top: 250px;
  right: 15px;	
  max-height: 0px;
}

.ef-glow2 {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.ef-glow2:hover, .ef-glow2:focus, .ef-glow2:active {
  box-shadow: 0 0 8px rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: .10em;
}

/* CONTAINER */

#login-container {
  background-color: rgb(13, 13, 24);
  /* width: 1300px; */
  margin-left: auto;
  margin-right: auto;
  /* padding: 20px 30px; */
  margin-top: 10vh;
  height: 100px;
  /* border-radius: 10px; */
}

/* FORMULÁRIO - DENÚNCIA */

#form-container {
  background-color: rgb(13, 13, 24);
  width: auto;
  padding: 20px 30px;
  margin-top: 10vh;
}

#centro{
  margin-left:20%;
  margin-right:20%;
  /* background-color: aqua; */
}

.input {
  display: block;
  width: 100%;
  text-align: left;
}

input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

/* BOTÃO - DENUNCIAR */

#submit {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: rgb(13, 13, 24);
  background-color: rgb(255,147,41);
  cursor: pointer;
  width: 200px;
}

#ctg{
  font-size: 19px;
  width: 142px;
  text-align: center;
}

#file{
  margin-left: 248px;
  font-size:17px;
  width: 746px;
  max-width: 370px;
}

.movimentação {
  margin-left:70%;
}

.ef-glow {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.ef-glow:hover, .ef-glow:focus, .ef-glow:active {
  box-shadow: 0 0 8px rgb(255,147,41);
}

.hr{
  position: relative;
} 

img{
  position: absolute;
 /* width: 100p; */
}

.ft-sobre{
  left: 50px;
  width:200px;
  height:200px;
}

